.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
  overflow: -moz-scrollbars-none;
}
body {
  overflow-y: scroll;
}
